* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #111;
    color: #fff;
    line-height: 1.6;
}

header {
    background: #000;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 2px 2px #fff;
}

.hero {
    background: url('pictures/grand-theft-auto-6-character-hd-wallpaper-uhdpaper.com-269@1@n.jpg');
    position: absolute;
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;
}

.hero .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 40px;
    width: 100%;
    text-align: center;
}

.trailer {
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction:row;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-top: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    border-radius: 10px;
}

.info {
    padding: 40px 20px;
    background-color: #222;
    text-align: center;
}

footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #888;
}
